.sidebar{
    position: fixed;
    border-right: 2px solid black;
}
.sidebar li a {
    text-decoration: none;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}